{% extends 'base.html.twig' %}


{% block body %}


    {% set messages = [] %}
    {% for type, message in app.flashes %}
        {% set messages = messages|merge([{'type': type, 'messages': message}]) %}
    {% endfor %}

    <div
        id="react"
        data-toasts="{{ messages|json_encode|e('html_attr') }}"></div>
{% endblock %}
