<h1>Confirmation adresse email</h1>

<p>Veuillez confirmer votre adresse email en cliquant sur le lien suivant: <br><br><a href="{{ signedUrl|raw }}">Confirmer</a>.</p>

<p>Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

<p>
    A bientôt.
</p>
