.auth-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border: .1rem solid var(--color-txt2);
  padding: 1rem 2rem;
  margin: 4rem auto 0 auto;

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  input {
    margin-top: 2rem;
  }


  input[type="submit"] {
    opacity: .3;
    cursor: pointer;

    &.submit-valid {
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }
  }
}