.menu {
  position: fixed;
  top: 3.1rem;
  right: 0;
  bottom: .4rem;
  width: 300px;
  color: var(--color-txt2);
  background-color: var(--color-bg2);
  box-shadow: 0 0 10px -3px var(--color-txt2);
  z-index: 1001;


  .nav-menu {
    height: 100%;

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 2.5rem 1.3rem;
    }
  }

  a {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      bottom: -4px;
      left: 50%;
      right: 50%;
      height: 2px;
      background-color: var(--color-txt2);
      transition: all .2s ease-in-out;
      opacity: 0;
    }

    &.active, &:hover {
      &:after {
        left: 0;
        right: 0;
        opacity: 1;
      }
    }
  }
}
.background-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, .8);
  backdrop-filter: blur(10px);
}