@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";
@import "theme-colors";
@import "responsive";
@import "header/header";
@import "links";
@import "header/burger-menu";
@import "header/menu";
@import "footer";
@import "utils/toaster";
@import "utils/spinner";
@import "form/form";

body {
  color: var(--color-txt1);
  background-color: var(--color-bg1);
  font-family: CocoSharp;
  overflow-x: hidden;

  &:before, &:after {
    position: absolute;
    content: '';
    top: 7rem;
    background: var(--color-txt1);
    opacity: .05;
    width: 30rem;
    height: 30rem;
    z-index: -1;
  }
  &:before {
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  &:after {
    left: 0;
    opacity: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}
.main {
  margin: 1rem 1rem 4rem 1rem;
}

@media #{$mobile-min} {
  .main {
    margin: 2rem 2rem 4rem 2rem;
  }
}
@media #{$tablet-min} {
  body {
    &:after {
      opacity: 0.05;
    }
  }
  .main {
    margin: 4rem;
  }
}