@tailwind base;
@tailwind components;
@tailwind utilities;

@import "spinner";
@import "header";
@import "burger-menu";
@import "menu";
@import "form";
@import "toaster";
@import "footer";

:root {
  --color-txt: black;
  --color-bg: white;
  --color-txt-header: black;
  --color-bg-header: whitesmoke;
}
[data-theme="dark"] {
  --color-txt: white;
  --color-bg: black;
  --color-txt-header: whitesmoke;
  --color-bg-header: black;
}
body {
  color: var(--color-txt);
  background-color: var(--color-bg);
  overflow-x: hidden;
}
.main {
  margin: 1rem 1rem 4rem 1rem;
}

@media screen and (min-width: 500px) {
  .main {
    margin: 2rem 2rem 4rem 2rem;
  }
}
@media screen and (min-width: 1000px) {
  .main {
    margin: 4rem;
  }
}