@tailwind base;
@tailwind components;
@tailwind utilities;

@import "theme-colors";
@import "responsive";
@import "header/header";
@import "links";
@import "header/burger-menu";
@import "header/menu";
@import "footer";
@import "utils/toaster";
@import "utils/spinner";
@import "form/form";

body {
  color: var(--color-txt);
  background-color: var(--color-bg);
  overflow-x: hidden;
}
.main {
  margin: 1rem 1rem 4rem 1rem;
}

@media #{$mobile-min} {
  .main {
    margin: 2rem 2rem 4rem 2rem;
  }
}
@media #{$tablet-min} {
  .main {
    margin: 4rem;
  }
}