@font-face {
  font-family: Chomiku3D;
  src: url("/public/fonts/Chomiku3D-Regular.ttf")format('truetype');
}
@font-face {
  font-family: Flamouse;
  src: url("/public/fonts/Flamouse.ttf")format('truetype');
}
@font-face {
  font-family: Comic;
  src: url("/public/fonts/Comic.ttf")format('truetype');
}
@font-face {
  font-family: KomycaItalic;
  src: url("/public/fonts/KomycaItalic.ttf")format('truetype');
}
@font-face {
  font-family: Valoon;
  src: url("/public/fonts/Valoon.ttf")format('truetype');
}
@font-face {
  font-family: VersatyloRounded;
  src: url("/public/fonts/VersatyloRounded.ttf")format('truetype');
}
@font-face {
  font-family: Planets;
  src: url("/public/fonts/Planets.otf")format('truetype');
}
@font-face {
  font-family: Akira;
  src: url("/public/fonts/Akira.otf")format('truetype');
}
@font-face {
  font-family: Designer;
  src: url("/public/fonts/Designer.otf")format('truetype');
}
@font-face {
  font-family: CocoSharp;
  src: url("/public/fonts/CocoSharp/Coco-Sharp-Regular-trial.ttf")format('truetype');
}
@font-face {
  font-family: CocoSharpBold;
  src: url("/public/fonts/CocoSharp/Coco-Sharp-Bold-trial.ttf")format('truetype');
}