:root {
  --color-txt1: #36536b;
  --color-bg1:  #EDF3F8;
  --color-txt2: #36536b;
  --color-bg2:  #EDF3F8;
}

[data-theme="dark"] {
  --color-txt1: #EDF3F8;
  --color-bg1: #36536b;
  --color-txt2: #EDF3F8;
  --color-bg2: #36536b;
}


.colors {
  color: #FBFCFE;
  color: #36536B;
  color: #1B262F;
  color: #DA6D97;
  color: #BA4270;
  color: #6C8294;
}

/*  grafikart: bg: #f7fafb  */
